@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #ada996;
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  );
  background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  margin: 0;
  min-height: 100vh;
}

img {
  width: 100px;
}

.mobile-container {
  background-color: #fff;
  box-shadow: 0px 0px 5px #3333331a;
  border-radius: 3px;
  overflow: hidden;
  width: 400px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

header button {
  background-color: transparent;
  border: none;
  color: #eee;
  font-size: 1.5rem;
  margin-left: 10px;
}

.fav-container {
    background-color: rgb(253, 234, 253);
  padding: 1rem;
  text-align: center;
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
    width: 85px;
}

.fav-meals li img {
    border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
  width: 70px;
  height: 70px;
}

.fav-meals li span {
    font-size: 0.9rem;
}

.meal {
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331a;
  margin: 1.5rem;
  overflow: hidden;
}

.meal-header {
  position: relative;
} 

.meal-header .random {
  position: absolute;
  top: 15px;
  background-color: #fff;
  padding: 0.25rem 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  border: none;
  background-color: transparent;
  color: rgb(189, 188, 188);
  font-size: 1.2rem;
}

.meal-body .fav-btn.active {
  color: rebeccapurple;
}